.scroll-table {
    position: relative;
    height: 600px;
    overflow: auto;
    display: block;

}

.button1 {
    background-color: #ff592a !important;
}

.button2 {
    background-color: #f63511 !important;
}

.button3 {
    background-color: #7e868e !important;
}

.button-container {
    display: flex;
    gap: 5px;
}
